@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap'); */

.inconsolata-text {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* Set desired weight */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* index.css */
html {
  scroll-behavior: smooth;
}

/* Optional: some animation polish */
[data-aos] {
  transition-property: transform, opacity;
}
.fromDivNavM {
  background: linear-gradient(135deg, rgba(17, 9, 42, 0.584), rgba(2, 82, 255, 0.6));
  border: 1px solid rgba(44, 6, 125, 0.948);
  box-shadow: inset 0 0 20px rgb(23, 8, 187); 
  border-radius: 12px;
  padding: 16px;
  color: white;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-align: center;
}

/* Hover effect: background becomes brighter and animated */
.fromDivNavM:hover,
.fromDivNavM:focus {
  background: linear-gradient(135deg, rgb(0, 0, 0), rgba(17, 9, 42, 0.584));
 
;
}
